/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/*<--!.navbar-header{
	background-color: red;
		color: red;
	background: red;
}-->*/

 .jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: #FFF;
  margin-bottom: 10px;
  background-image: url(../img/login_background.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  }
  
 .navbar {
 height: 55px;
 background-color: white;
 border-color: white;
 -webkit-box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.39);
 -moz-box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.39);
 box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.39);
  
 
 }

 .btn{
 background-color: #c3423f;
 border-color: #c3423f;
 }
 
 .btn-default {
 background-color: white;
 border-color: #ccc;
 }
 
 .navbar-nav>li>a{
 padding-top: 20px;	
 }
 
 .jumbotron h1{
 text-shadow: 1px 1px 1px #000;
 }
 
 .navbar-inverse .navbar-nav>li>a:hover {
 color: #c3423f;
  background: #f5f5f5;
   box-shadow: 0px 6px 9px -6px rgba(0,128,128,1);
     
 } 
 
 .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
 background-color: #dddee0;
 }

.btn a {
	background-color: #A8453c;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #a8453c;
	background-position: 0 -15px;
	border-color: #c3423f; 
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #a8453c;
    border-color: #c3423f;
}

 .navbar-collapse.collapse.in  {
	background-color: #f5f5f5;
	}
.navbar-inverse .navbar-nav>li>a {
    color: black;

}


.navbar-toggle.collapsed,.navbar-toggle , .icon-bar{
	color: gray;
	background-color: gray;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
		background-color: #c3423f;
		
}

.list-description {
	font-size: 17px;
	margin-top: 15px;
	margin-bottom: 20px;
}
 
.profile-image{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-for-follow{
	float: left;
	margin-left: 10px;
	font-size: 15px;
	margin-top: 1%;
}

.profile-image {
	float:left;
}

.user-wrapper{
	margin-bottom: 45px;
}


.btn-default {
	float:right;
	margin-top: 1%;	
}

.fixedbutton {
    position: fixed;
    bottom: 50px;
    right: 100px; 
    background-color: #5bc0eb;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 1px 0 0 0;
    font-size: 35px;
    font-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    }
    
a > .fixedbutton {
	color: white;
}

.fixedbutton:hover {
	width: 65px;
	height: 65px; 
	padding: 5px 0 0 0;
	
}

.btn-default:focus {
	background-color: white;
}

.like-active, .like-active:focus{
	background-color: #FDE74c;
}

.category-title {
	font-size: 18px;
	padding: 5px 0 5px 0;
}

.follow-active, .follow-active:focus {
	background-color: #5bc0eb;
}